---
import styles from './Menu.module.scss';
---

<nav class={styles.nav}>
  <ul class={styles.navList}>
    <li class={styles.navItem}>
      <a href="#" class={styles.navLink}>About</a>
    </li>
    <li class={styles.navItem}>
      <a href="#" class={styles.navLink}>Contact</a>
    </li>
  </ul>
</nav>
